<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <title>Buscapé</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo">
          <img src="logo.png" alt="Buscapé" />
        </div>
        <div class="menu">
          <button data-menu="button"></button>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="products">
        <div class="product-item">
          <div class="short-images">
            <img src="https://random.imagecdn.app/500/150" />
            <img src="https://random.imagecdn.app/500/150" />
            <img src="https://random.imagecdn.app/500/150" />
            <img src="https://random.imagecdn.app/500/150" />
          </div>
          <div class="cover-image">
            <img src="https://i.zst.com.br/thumbs/45/24/b/194270709.jpg" />
          </div>
          <div class="item-info">
            <h2>Refrigerador Brastemp Inverse BRE50NK 422 Litros Inox</h2>
            <div class="price-info">
              <div class="price">
                <p>6x R$ <span>499,83</span></p>
                <p>ou <span>R$ 2.699,30</span> à vista</p>
              </div>
              <div class="add-button">
                <button class="btn-add">Adicionar ao carrinho</button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-item">
          <div class="short-images">
            <img src="https://random.imagecdn.app/500/150" />
            <img src="https://random.imagecdn.app/500/150" />
            <img src="https://random.imagecdn.app/500/150" />
            <img src="https://random.imagecdn.app/500/150" />
          </div>
          <div class="cover-image">
            <img src="https://i.zst.com.br/thumbs/51/22/11/1461694855.jpg" />
          </div>

          <div class="item-info">
            <h2>Smartphone Apple Iphone 7 128GB</h2>
            <div class="price-info">
              <div class="price">
                <p>10x R$ <span>366,56</span></p>
                <p>ou <span>R$ 3.199,00</span> à vista</p>
              </div>
              <div class="add-button">
                <button class="btn-add">Adicionar ao carrinho</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">oi</div>
    </footer>
    <script type="module" src="/scripts/index.js"></script>
  </body>
</html>
